/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  font-family: 'Poppins', sans-serif;
}

input[type='email'],
input[type='text'] {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
